<?xml version="1.0"?>
<clickhouse>
    <!-- Server Identity -->
    <display_name>${INSTANCE_NAME}</display_name>
    <server_id>${CLICKHOUSE_SERVER_ID}</server_id>

    <!-- Include additional configuration files from config.d -->
    <include_from>/etc/clickhouse-server/config.d/*.xml</include_from>
</clickhouse>